<section id="news-generator">
  <div id="news-gen-box">
    <h2 id="news-gen-title">  Add News</h2>
    <div id="news-gen-title-separator"></div>
    <div id="news-entry-container" class="news-box-entry">
      <label for="news-entry-title">Title</label>
      <input id="news-entry-title" class="entry-style" type="text" name="news-title" placeholder="" [(ngModel)]="title" required>
      <div id="news-entry-separator"></div>
      <label for="news-entry-content">Content</label>
      <textarea id="news-entry-content" class="entry-style"  name="news-entry-content" placeholder="" [(ngModel)]="text"></textarea>
    </div>
    <div class="news-box-entry">
      <label for="news-entry-url">Image Url</label>
      <input id="news-entry-url" class="entry-style" type="text" name="news-image-url" [(ngModel)]="image">
    </div>
    <div class="news-box-entry">
      <label for="news-entry-date">Date</label>
      <input id="news-entry-date" class="entry-style"  type="date" name="news-date" placeholder="Date" [(ngModel)]="datetime">
    </div>
    <button id="bttn-news" type="submit" (click)="createNews()">Create News</button>
  </div>
</section>

<section id="news-content">
  @for(news of array_news; track news.id){
    <article class="news-content-article">
        <img class="news-content-image" [src]="news.image" alt="">
        <time > Publicado {{converTimestampToDatetime(news.timestamp)}}</time>
        <h3> {{news.title}}</h3>
        <p>{{news.text}}</p>
        <div class="news-content-separator"></div>
    </article>
  }
</section>
