:host {
   /*Variables locales para el propio componente*/
  --color-pink:rgb(255, 200, 208);
  --shadow-pink:rgba(243, 125, 166, 0.5);
  --color-turquoise: #cbfffa;
  --color-grey: #f2f2f2;
  --color-grey-dark: #dcdcdc;
  --color-grey-dark2: #7d7d7d;
  --color-entry-text: #b6b6b6;
  --color-placeholder-text: #929292;

  --padding-news-entry: 10px 10px 10px 20px;

  /*Instrucciones app-blog */
  display: flex;
  flex-direction: row;
  height:100%;
}

/* 1. Section News Generation*/
#news-generator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to bottom, var(--color-pink), var(--color-turquoise));
  flex: 1;
  padding-top:50px;
}

/* Box News Entry*/
#news-gen-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 5px var(--shadow-pink); /* h-offset | v-offset | blur | spread | color */
  width: 80%;
  height: 900px;
  padding: 40px;
}

#news-gen-title-separator {
  position: relative; /*posici칩n relativa para que el separador pueda salir un poquito por fuera del padding del padre*/
  left: -5%;  /*desplazo la mitad del tanto por ciento incrementado en width(10%) para que quede centrado.*/
  width: 110%; /*Incremento el tama침o de width en un 10%*/
  height: 2px;
  background-color: var(--color-grey);
}

.news-box-entry {
  position: relative;
  display:flex;
  flex-direction: column;
  background-color: var(--color-grey);
  width:100%;
  border-radius:10px;
  margin-top: 10px;

}

#news-entry-separator {
  height: 2px;
  background-color: var(--color-grey-dark);
}

#news-entry-content {
  height: 100%;
}

#news-entry-container{
  height: 100%;

}

.entry-style {
  background: transparent;
  border: none;
  resize: none;
  border-style: none;
  outline:none;
  height: 30px;
  padding: var(--padding-news-entry);

  /*Text Style*/
  font-size: 20px;
  font-weight: 500px;
  color:var(--color-placeholder-text);
}

.entry-style::placeholder {
  color:var(--color-placeholder-text);
}
.news-entry-url{
  height: 40px;
}
.news-box-entry > label {
  color: #999;
  font-size: 16px;
  pointer-events: none; /* Ignora el click para que caiga en el input */
  transition: all 0.3s ease; /* Animaci칩n suave */
  padding: 10px 10px 10px 10px;
}

#bttn-news {
  background-color:rgb(251, 134, 173);
  border: none;
  color: rgb(255, 249, 249);
  font-weight: 500px;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 20%;
  border-radius: 5px;
  cursor: pointer;
  /* Transici칩n suave para el cambio de color y el efecto de clic */
  transition: background-color 0.3s ease;
}

#bttn-news:active{
  background-color:rgb(255, 174, 201);
}

/*2. Section News Content*/
#news-content {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex:1.5;
  background-color: white;
  padding: 2% 5% 2% 5%;
}
/*2.1 News Article*/
.news-content-article {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  gap: 10px;
}
/*2.2 News Image*/
.news-content-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit:cover;
  border-radius: 15px;
}

/*2.3 News Publication Date Time*/
#news-content time {
  color: var(--color-grey-dark2);
  font-size: 14px;
}
/*2.4 News Title*/
.news-content-article > h3 {
  color: black;
  font-size:36px;
  padding: 0px;
  margin: 0px;
}

/*2.5 News Content Text*/
.news-content-article > p {
  color: black;
  font-size:14px;
  padding: 0px;
  margin: 0px;
}

.news-entry-error {
  color: rgb(255, 97, 97);
  font-size: 14px;
  padding: 10px 10px 10px 10px;
  margin: 0px;
}
/*2.6 News Separator*/
.news-content-separator {
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-dark);
}

/*3. Responsive Design */
@media screen and (max-width: 768px) {
  :host {
    display: flex;
    flex-direction: column;
    height:100%;
  }

  #news-generator{
    width: 100%;
    padding-bottom: 50px;
  }
}


