/* You can add global styles to this file, and also import other style files */
*{
  box-sizing:border-box
}

:root{
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f4f4;
  --text-color: #333;
  --border-radius: 5px;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #b5b3b3;
  margin:0;
  padding:0;
}
